@tailwind base;

html {
  @apply bg-pink-200;
  @apply text-purple-700;
  font-size: 20px;
}

@screen md {
  html {
    font-size: 24px;
  }
}

@screen lg {
  html {
    font-size: 28px;
  }
}

@tailwind components;

@tailwind utilities;

.v-gap > * + * {
  @apply mt-4;
}

.h-gap > * + * {
  @apply ml-4;
}

@keyframes pop {
  0% {
    transform: none;
  }
  50% {
    transform: scale(2);
  }
  100% {
    transform: none;
  }
}

.pop {
  transform-origin: center;
  animation-name: pop;
  animation-duration: 1s;
}

/* svg pie animation */
.circleTransition {
  transition: stroke-dasharray 1.5s;
}
